<div id="clearance" class="h-full w-full flex justify-center items-center">
  <main class="flex flex-col gap-1">
    <h2 class="text-center text-2xl px-2"><%= t(".title") %></h2>
    <%= render partial: '/sessions/form' %>
  </main>
</div>
