.button {
    @apply text-sm font-medium tracking-wider uppercase text-center;
    @apply py-2;
    @apply focus-visible:ring-2 focus-visible:ring-praxis-600;
}

.button:not(.secondary) {
    @apply bg-praxis text-white;
    @apply hover:bg-praxis-400 hover:text-gray-100;
    @apply active:bg-praxis-600 active:text-gray-100;
}

.button.secondary {
    @apply bg-transparent text-gray-800;
    @apply hover:text-praxis;
    @apply active:text-praxis-800;
}