:root {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a, button[type='submit'], button[type='reset'] {
    @apply hover:text-praxis active:text-gray-400 focus-visible:ring-2 focus-visible:ring-praxis-500;
}

