/* Markdown textarea */
.EasyMDEContainer {
    @apply rounded-none border border-gray-500 !important;
}

.editor-toolbar, .cm-s-easymde {
    @apply border-0 !important;
}

.cm-s-easymde {
    @apply border-t !important;
    border-top-color: theme('colors.gray.300') !important;
}

.EasyMDEContainer:focus-within {
    @apply ring-1 ring-praxis-500 border-praxis-500 !important;
}

.editor-preview.editor-preview-active {
    @apply prose prose-praxis;
}