.flash {
    @apply block p-2 mb-2 rounded-sm text-center;

    & strong {
        @apply font-normal;
    }
}

.flash-alert {
    @apply bg-yellow-100 text-yellow-800;

    & strong {
        @apply font-medium;
    }
}

.flash-error {
    @apply bg-red-50 text-red-800;

    & strong {
        @apply font-bold;
    }
}

.flash-notice {
    @apply bg-blue-50;
}

.flash-success {
    @apply bg-green-200 text-green-800;
}