.media-inline {
    @apply flex h-12 w-full items-center justify-between border p-1 rounded-sm border-gray-200 gap-2;
}

.media-inline-list {
    @apply flex flex-col gap-2;
}

.media-inline-image {
    @apply h-full w-auto;
}

.media-inline-form-name {
    @apply h-8
}

.media-inline-form-file {
    @apply text-sm uppercase border border-black bg-white leading-none;
    @apply cursor-pointer;
}