.model-container {
    @apply flex flex-col justify-center gap-8;
}

.model-table {
    & tbody {
        & th {
            @apply text-left font-medium text-gray-700;
        }

        & > tr:not(:last-child) {
            @apply border-b;

            & td {
                @apply py-2;
            }
        }
    }
}


.model-table-markdown {
    @apply prose prose-praxis pt-4;
}

.model-table-actions {
    @apply flex justify-end gap-8;
    @apply border-b-2 border-gray-300 flex-grow;
}
