.main-content {
  @apply flex-grow flex-shrink;
  @apply flex flex-col min-w-[800px];
}

.main-content__header,
.main-content__body {
  @apply py-4 px-8;
}

.main-content__body {
  @apply overflow-y-scroll overflow-x-hidden;
}

.main-content__body--flush {
  padding-left: 0;
  padding-right: 0;
}

.main-content__header {
  align-items: center;
  border-bottom: $base-border;
  display: flex;
}

.main-content__page-title {
  @apply flex-grow text-xl font-medium text-gray-500 uppercase tracking-wide;
}
